<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="img/fav-king.png" type="image/x-icon" />
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="menu">
				<ul class="nav">
					<li class="nav-elements back-color" id="global-nav" ><a class="ne-inner" href="playerslist">Players</a></li>
					<li class="nav-elements back-color" id="global-nav" ><a class="ne-inner ne-inner1" href="challenges">Challengers</a></li>
					<li class="nav-elements back-color player-details"><a class="ne-inner" href=""><%=udata.name%></a></li>
					<ul class="pd">
							<li class="pd-inner back-color"><a href="/home">Update profile</a></li>
							<li class="pd-inner back-color" id="btn-logout" ><a>Logout</a></li>
					</ul>
				</ul>
			</div>
		</header>
		<div class="update back-color shadow">
		<input type="hidden" id="userId" value=<%= udata._id%>>
			<form id="account-form" class="form-horizontal well span6" method="post">
				<p class="create">Account settings</p>
				<div class="update-count">
                    <div class="field">
                        <p>Name</p>
                    </div>
                    <div class="field-input">
                        <input type="text" class="required ca" value= <%= udata.name %> name="name" id="name-tf">
                    </div>
                </div>
                <div class="update-count">
                    <div class="field">
                        <p>Email</p>
                    </div>
                    <div class="field-input">
                        <input type="text" class="required email ca" value=<%= udata.email %> id="email-tf" name="email">
                    </div>
                </div>
                <div class="update-count">
                    <div class="field">
                        <p class="field ca arrow">Location</p>
                    </div>
                    <div class="field-input">
                        <select class="arrow styled" name="country" >
                            <% for (var i = 0; i< countries.length; i++ ){ %>
								<% if (udata.country == countries[i].name ){ %>
									<option selected="selected" value="<%= countries[i].name %>"><%= countries[i].name %></option>
								<% } else {%>
										<option value="<%= countries[i].name %>"><%= countries[i].name %></option>
								<% } %>
							<% } %>
                        </select>
                    </div>
                </div>
                <input type="hidden" disabled="disabled" id="user-tf" name="user.user" value=<%=udata.user%> class="input-xlarge disabled">
                <p class="create1">Change password</p>
                <div class="update-count">
                    <div class="field">
                        <p class="field">Password</p>
                    </div>
                    <div class="field-input">
                        <input type="password" class="required ca" name="pass" id="pass-tf" value= "">
                    </div>
                </div>
				<div class="btn-group">
					<button class="btn new-update" id="account-form-btn2" type="submit"> Update my account </button>
				</div>
			</form>
		</div>
		<div class="log-out back-color shadow common">
            <div class="logout-txt">
                <P>You have successfully logged out</P>
            </div>
            <div class="logout-confirm">
                 <a class="btn" href="/">Ok</a>
            </div>
        </div>
        <div class="back-color shadow success">
            <p class="success-msg">Success</p>
            <p class="msg">Profile updated successfully.</p>
            <a href="/home" class="btn1 ok">Ok</a>
        </div>
	</div>

	<script src="/vendor/jquery.min.js"></script>
	<script src="/vendor/jquery.form.js"></script>
	<script src="/vendor/bootstrap-modal.js"></script>
	<script src="/vendor/bootstrap-transition.js"></script>
	<script src="/js/views/home.js"></script>
	<script src="/js/controllers/homeController.js"></script>
	<script src="/js/form-validators/accountValidator.js"></script>
	<script src="/vendor/custom.js"></script>
</body>
</html>	