extends layout

block content
	h5=title
	div.container(style='margin:20px')
		- for (var i = 0; i < accts.length; i++)
				if(user.user != accts[i].user)
					form(name="input", action="/addchallenge", method="post")
						input(type="hidden", name="challengedUserId", value= user._id)
						input(type="hidden", name="challengerUserId", value= accts[i]._id)
						input(type="hidden", name="challengedUserName", value= user.user)
						input(type="hidden", name="challengerUserName", value= accts[i].user)
						div#Challange
							div#nameChallange
								name= accts[i].user
							div#buttonChallange
								input(type="submit", value="Challange")

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')


					