<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="img/fav-king.png" type="image/x-icon" />
</head>
<body>
	<div class="wrapper1" >
		<input type="hidden" id="is_it_my_turn" value= 0>
		<input type="hidden" id="pgrid" value= 0>
		<div class="play-inner">
			<div class="play-heading">
				<img  src="img/battle-chess.png">
			</div>
			<div class="chess">
				<div class="chess-board">
					<img src="img/chess-board.png">
				</div>
				<div class="players">
					<p class="players-title">Players</p>
					<div class="players-details">
						<div class="player-name">
							<p class="name" id="player1"></p>
						</div>
						<div class="player-coin">
							<img src="img/white-coin.png">
						</div>
					</div>
					<div class="players-details">
						<div class="player-name">
							<p class="name" id="player2"></p>
						</div>
						<div class="player-coin">
							<img src="img/black-coin.png">
						</div>
					</div>
					<div class="turn-details">
						<div class="turn-header back-color shadow">
							<p class="heading">Moves history</p>
						</div>
						<div class="turns back-color shadow" >
							<div class="turns-names" id="playersname">
								
							</div>
							<div class="turns-info" id="moves_info">
								
							</div>
						</div>
						<div class="whose-turn" >
							<p id="status">Turn is yours</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="canvas"></div>
		<div class="congrads common back-color shadow">
			<h1>Game over</h1>
			<P>Congradulation</P>
			<p>You own this game</p>
			<a class="btn exit" href = "/">Exit</a>
		</div>
		<div class="sorry common back-color shadow">
			<h1>Game over</h1>
			<P id="sorry_name"></P>
			<p>Better luck next time</p>
			<a class="btn exit" href = "/">Exit</a>
		</div>
		<div class="replace common back-color shadow" id="newPown">
			<div class="pawn-replace">
				<button class="btn replace1" onclick="newpown('queen')">Queen</button>
				<button class="btn replace1" onclick="newpown('knight')">Knight</button>
				<button class="btn replace1" onclick="newpown('bishop')">Bishop</button>
				<button class="btn replace1" onclick="newpown('rook')">Rook</button>
			</div>
			<div>
				<a class="btn cancel-replace" onclick="newpown('undefined')">cancel</a>
			</div>
		</div>
	</div>
	<script src="/vendor/jquery.min.js"></script>
	<script src="/vendor/jquery.form.js"></script>
	<script src="/js/views/check-is-it-my-turn.js"></script>
	<script src="/js/views/moves.js"></script>
	<script src="/js/game/game/chessboard.js"></script>
	<script src="/js/game/game/pawn.js"></script>
	<script src="/js/game/game/rook.js"></script>
	<script src="/js/game/game/king.js"></script>
	<script src="/js/game/game/queen.js"></script>
	<script src="/js/game/game/knight.js"></script>
	<script src="/js/game/game/bishop.js"></script>
	<script src="/vendor/jquery-ui.js"></script>
	<script src="/js/game/lib/kinetic.js"></script>
	<script src="/vendor/custom.js"></script>
	<script src='/js/views/heartbeat.js'></script>
</body>
</html>	