<html>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/fav-king.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
  <input type="hidden" id="userId">
  <div class="wrapper">
    <div id="account-form-container">
      <div class="signup back-color shadow" id="account-form-container">
        <form class="user-details" id="account-form" method="post">
          <p class="create">Create an account</p>
          <div class="update-count">
                      <div class="field">
                          <p class="fn">Name</p>
                      </div>
                      <div class="field-input">
                          <input type="text" class="required ca" name="name" id="name-tf" name="name" id="name-tf">
                      </div>
                  </div>
                  <div class="update-count">
                      <div class="field">
                          <p class="fn">Email</p>
                      </div>
                      <div class="field-input">
                          <input type="text" class="required email ca" name="email" id="email-tf">
                      </div>
                  </div>
                  <div class="update-count">
                      <div class="field">
                          <p class="field ca arrow fn" >Location</p>
                      </div>
                      <div class="field-input">
                          <select class="arrow styled" name="country" >
                              <% for (var i = 0; i< countries.length; i++ ){ %>
                    <option  value="<%= countries[i].name %>"><%= countries[i].name %></option>
                <% } %>
                          </select>
                      </div>
                  </div>
                  <p class="create1">Choose your username and password</p>
                  <div class="update-count">
                      <div class="field">
                          <p class="field fn">Username</p>
                      </div>
                      <div class="field-input">
                          <input type="text" class="required ca" name="user" id="user-tf">
                      </div>
                  </div>
                  <div class="update-count">
                      <div class="field">
                          <p class="field fn">Password</p>
                      </div>
                      <div class="field-input">
                          <input type="password" class="required ca" value="" name="pass" id="pass-tf">
                      </div>
                  </div>
          <div class="btn-group">
            <button class="btn1 new-create" id="account-form-btn2" type="submit">Create my account</button>
            <button class="btn1 cancel" id="account-form-btn1" type="button">Cancel</button>
          </div>
        </form>
      </div>
      <div class="back-color shadow success">
        <p class="success-msg">Success</p>
        <p class="msg">Your account has been created successfully.</p>
        <a href="/" class="btn1 ok" >Ok</a>
      </div>
    </div>
  </div>
  <div id="footer">
        
  </div>
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/jquery.form.js"></script>
  <script src="/vendor/bootstrap-modal.js"></script>
  <script src="/vendor/bootstrap-transition.js"></script>
  <script src="/vendor/custom.js"></script>
  <script src="/js/views/signup.js"></script>
  <script src="/js/controllers/signupController.js"></script>
  <script src="/js/form-validators/accountValidator.js"></script>
  <script src='/js/views/footer.js'></script>

</body>
</html> 