extends layout

block content
	img(src="/img/chess-animation-2.gif")
	input(id="challenge_id", type="hidden", value=challenge_id) 


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/js/views/waiting.js')