@font-face{
	font-family:'FjordOne-Regular';
	src: url('../css/fonts/FjordOne-Regular/FjordOne-Regular.eot');
 	src: url('../css/fonts/FjordOne-Regular/FjordOne-Regular.eot?#iefix') format('embedded-opentype'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.woff') format('woff'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.ttf') format('truetype'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.svg') format('svg');
 	font-style: normal;
 	font-weight: normal;
}
@font-face{
	font-family:'RINGM';
	src: url('../css/fonts/RINGM/RINGM__.eot');
 	src: url('../css/fonts/RINGM/RINGM__.eot?#iefix') format('embedded-opentype'),
 		 url('../css/fonts/RINGM/RINGM__.woff') format('woff'),
 		 url('../css/fonts/RINGM/RINGM__.ttf') format('truetype'),
 		 url('../css/fonts/RINGM/RINGM__.svg') format('svg');
 	font-style: normal;
 	font-weight: normal;
}

body{
	margin: 0px auto;
	font-family:'FjordOne-Regular';
}
.wrapper{
	width: 100%;
	height: 810px;
	margin: 0 auto;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}
.wrapper1{
	width: 100%;
	height: 810px;
	margin: 0 auto;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}

a{
	text-decoration: none;
	color: #d29900;
	cursor: pointer;
}
.user-logs{
	padding-top: 20px;
}
.btn{
	background-image: linear-gradient(to bottom, #60681C 0%, #3B3E17 100%);
    color: #d29900;
    font-family: FjordOne-Regular;
    font-size: 18px;
    height: 30px;
    text-align: center;
    box-shadow: 0 -1px 0 0 #A3B130;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 4px;
    border: none;
}
.btn1{
	background-image: linear-gradient(to bottom, #60681C 0%, #3B3E17 100%) !important;
    color: #d29900 !important;
    font-family: FjordOne-Regular;
    font-size: 18px;
    height: 30px;
    text-align: center;
    box-shadow: 0 -1px 0 0 #A3B130;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 4px;
    border: none;
}
.user-details{
	margin-left: 20px;
}
.join{
	display: inline-block;
    height: 24px;
    margin-left: 560px;
    padding-top: 6px;
    vertical-align: middle;
    width: 130px;
}
.user-input{
	display: inline-block;
}
.click{
	text-decoration: none;
	color: #d29900;
}
.signin{
	width: 94px;
	overflow: hidden;
}
.log-in{
	width: 540px;
	height: 70px;
	background-color: #2e301d;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	border-radius: 4px;
}
.login{
	padding-top: 18px;
}
input{
	width: 190px;
	height: 30px;
	border: none;
	color: #d29900;
	font-family:'FjordOne-Regular';
	font-size: 14px;
	margin-right: 10px;
	border-radius: 4px;
	vertical-align: top;
}
input[placeholder] {
   padding-left: 30px;
}
.usrname{
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: 5px center;
	margin-left: 10px;
}
.password{
	background-image: url('../img/password.png');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: 5px center;
}
.login-sub{
	height: 15px;
	font-size: 14px;
	margin-top: 3px;
	margin-left: 60px;
}
/*checkbox*/
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #111111;
}
.checkbox{
    display: inline-block;
}
.checkbox label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #d29900;
    text-align: center;
    line-height: 15px;
}
.forgot{
    color: #d29900;
    margin: 0 0 0 75px;
    display: inline;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size:13px; 
}
.popups{
	margin-top: 160px;
	color: #d29900;
	overflow: hidden;
	display: none;
}


.back-color{
	/*background-color: #2a2c1b;
	opacity: .7;*/
	background-image: url('../img/popupbg.png');
}
.forgot-pass{
	width: 650px;
	height: 310px;
	border: 1px solid transporent;
	margin: 0 auto;
	
}
.fp-inner{
	width: 510px;
	height: 250px;
	margin: 0 auto;
	padding-top: 25px;
}
.fp1{
	font-size: 30px;
	margin: 0px;
}
.fp2{
	margin: 15px 0px 0px 0px;
}
.fp3{
	margin-top: 35px;
	margin-bottom: 0px;
}
.fp-input{
	width: 400px;
	height: 45px;
	background-color: #111111;
	box-shadow: inset 0px -1px 0px 0px #d8d8d8;
	margin-left: 10px;
}
.fp-cancel{
	font-size: 24px;
	margin-top: 40px;
	margin-left: 115px;
	width: 150px;
	height: 35px;
	padding-top: 5px;
}
.fp-submit{
	font-size: 24px;
	margin-left: 20px;
	width: 150px;
	height: 35px;
	padding-top: 5px;
}
.signup{
	width: 750px;
	height: 510px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 244px;
    overflow: hidden;
}
form{
	color: #d29900;
	font-size: 18px;
	margin: 10px;
}
.create{
	font-size: 24px;
	margin-top: 25px;
}
.update-count{
    height: 55px;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 525px;
}
.field{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 130px;
}
.field-input{
     display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 289px;
}
.field-input input{
    background-color: #111111;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #d29900;
    display: inline;
    float: right;
    font-size: 18px;
    height: 40px;
    margin-right: 0;
    opacity: 1 !imporoverflow: hidden;tant;
    overflow: hidden;
    vertical-align: top;
    width: 290px;
}
.field-input select{
    width: 310px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #d29900;
    padding: 6px 2px;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    border: none;
    background: url(../img/arrow.png) no-repeat 265px center #111111;
    display: inline;
    vertical-align: top;
    overflow: hidden;
    font-size: 18px;
    height: 40px;
}

.create1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
option{
	color: white;
}
.new-create{
	width: 305px !important;
	height: 40px;
	font-size: 24px;
	margin-left: 185px;
}
.cancel{
	font-size: 24px;
	margin-left: 10px;
	width: 150px;
	height: 40px;
}
.btn-group{
	margin-top: 30px;
}
.success{
	display: none;
    height: 175px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 280px;
    width: 540px;
}
.success-msg{
	font-size: 30px;
	color: #d29900;
	margin-top: 25px;
	margin-bottom: 25px;
	/*margin-left: 60px;*/
}
.msg{
	font-size: 24px;
	color: #d29900;
	margin-bottom: 25px;
	/*margin-left: 60px;*/
}
.ok{
	font-size: 18px;
    height: 25px;
    padding-top: 5px;
    width: 90px;
}
/*.menu{
	overflow: hidden;
}
.nav{
	float: right;
	margin-right: 130px;
	overflow: hidden;
}
.nav-elements{
	float: left;
	width: 185px;
	height: 50px;
	list-style-type: none;
}


.error{
	display: none;
	height: 210px;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 650px;
}
.error-content{
    height: 144px;
    margin: 0 auto;
    text-align: center;
    width: 476px;
    padding-top: 10px;
}
*/
.menu{
	overflow: hidden;
}
.nav{
	float: right;
	margin-right: 130px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-elements{
	float: left;
	width: 185px;
	height: 50px;
	list-style-type: none;
	border-right: 1px solid grey;
	-webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
	border-top: 0px;
	border-bottom: 0px;
	text-align: center;
}
.nav-elements:last-child{
	border-right: 0px;
}
.ne-inner{
	-webkit-transform: skew(-20deg) !important;
  -moz-transform: skew(-20deg) !important;
  -ms-transform: skew(-20deg) !important;
  -o-transform: skew(-20deg) !important;
  transform: skew(-20deg) !important; 
  display:block;
  text-decoration:none;
  padding:10px 10px;
  font-size:24px;
}
.ne-inner1{
	/*padding-top: 5px;*/
}
/*sup{
	background-color: #d29900;
	border-radius: 10px;
	color: white;
}*/
.error{
	top: 275px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	position: absolute;
	color: #d29900;
	display: none;
	font-size: 24px;
}
.error-content{
	height: 144px;
    margin: 0 auto;
    text-align: center;
    width: 476px;
    padding-top: 10px;
}

.pd{
	padding: 0px;
	display: none;
	position: absolute;
	margin-top: 50px;
}
.pd-inner{
	 border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    clear: both;
    height: 30px;
    list-style-type: none;
    margin-left: 380px;
    padding-top: 10px;
    width: 185px;
}
.pd-inner a{
	font-size: 20px;
    padding-left: 25px;
}
li:hover{
	opacity: .8;
}
.update{
	width: 750px;
	height: 465px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.update-inner{
	color: #D29900;
    font-size: 18px;
    margin: 10px;
}
.new-update{
	width: 290px;
	height: 40px;
	font-size: 24px;
	margin-left: 210px;
}
.pl{
	width: 645px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.pl-heading{
	height: 65px;
	width: 100%;
	border-bottom: 2px solid ;

}
.pl-inner{
	color: #D29900;
    font-size: 18px;
    width: 100%;
    height: 100%;
    overflow-y:auto; 
}
.pl-text{
	margin: 0px 10px auto;
	font-size: 30px;
	padding-left: 10px;
    padding-top: 10px;
    color: #D29900;
}
table{
	color: #D29900;
	overflow: scroll;
}
th{
	font-size: 24px;
	text-align: left;
	padding-left: 20px;
}
td{
	font-size: 20px;
	width: 243px;
	padding-left: 20px;
	padding-right: 0px;
	height: 55px;
}
.td-width{
	width: 203px;
}
.accept-width{
	width: 283px;
}
tr{
	height: 45px;
}
tr:nth-child(even) {
    background-color: #2a2b1a;
}
.ch{
	width: 750px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.list{
	margin: 0px;
}

.ac{
	padding: 5px 5px 0;
}
.dt{
	text-align: center;
}
.play-heading{
	width: 460px;
	margin:25px auto;
}
.chess-board{
	margin-left: 125px;
	width: 625px;
	display: inline-block;
}
.players{
	width: 380px;
	display: inline-block;
	vertical-align: top;
	color: #D29900; 
	margin-left: 20px;
}
.players-title{
	font-size: 30px;
	margin-bottom:0px;
	margin-top: 0px;
}
.players-details{
	width: 310px;
	height: 50px;
	overflow: hidden;
	margin-left: 45px;
}
.player-name{
	width: 150px;
	display: inline-block;
	vertical-align: top;
}
.name{
	font-size: 24px;
	margin: 0px;
}
.player-coin{
	width: 40px;
	display: inline-block;
	vertical-align: top;
}
.player-coin img{
	width: 30px;
}
 .turn-details{
    width: 370px;
    height: 430px;
}
.turn-header{
    height: 50px;
    border-bottom: 2px solid black;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 0 #000000;
}
.heading{
    font-size: 30px;
    margin-top: 4px;
    margin-left: 15px;
}
.turns{
    height: 380px;
    overflow-y:auto;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 0 #000000;
    padding-left: 15px;
    padding-top: 10px;
}
.turns-names{
	width: 100px;
	display:inline-block;
	vertical-align: top;
	overflow: hidden;
}
.turns-info{
	width: 245px;
	display:inline-block;
	vertical-align: top;
}
.whose-turn p{
	font-size: 26px;
    margin: 15px auto 0px;
}
.whose-turn{
	text-align: center;
	font-size: 26px;
}

.kineticjs-content{
	top: -616px;
	left: 138px;

}
.common{
	color: #D29900;
    height: 300px;
    margin-left: 480px;
    margin-right: auto;
    top:290px;
    position: absolute;
    text-align: center;
    width: 500px;
}
.common h1{
	font-size: 48px;
}
.common p{
	font-size: 24px;
}
.exit{
	width: 100px;
	height: 26px;
	padding-top: 4px;
}
.congrads{
	display: none;
}
.sorry{
	display: none;
}
.replace{
	display: none;
}
.replace1{
	width: 100px;
}
.pawn-replace{
	margin-top: 90px;
}
.cancel-replace{
	width: 100px;
	height: 26px;
	padding-top: 4px;
}
.shadow{
	border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 2px 0 #000000;
    border-radius:4px 4px 4px 4px;
}
.log-out{
    color: #D29900;
    height: 160px;
    text-align: center;
    width: 300px;
    top:290px;
    display: none;
}
.logout-txt{
	font-size: 24px;
}
.logout-confirm{
	margin-top: 20px;
}
.logout-confirm .btn{
	 height: 25px;
    padding-top: 5px;
    width: 90px;
}
.waiting-img{
	  height: 810px;
}
.fn{
	font-size: 18px;
}
