@font-face{
	font-family:'FjordOne-Regular';
	src: url('../css/fonts/FjordOne-Regular/FjordOne-Regular.eot');
 	src: url('../css/fonts/FjordOne-Regular/FjordOne-Regular.eot?#iefix') format('embedded-opentype'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.woff') format('woff'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.ttf') format('truetype'),
 		 url('../css/fonts/FjordOne-Regular/FjordOne-Regular.svg') format('svg');
 	font-style: normal;
 	font-weight: normal;
}
@font-face{
	font-family:'RINGM';
	src: url('../css/fonts/RINGM/RINGM__.eot');
 	src: url('../css/fonts/RINGM/RINGM__.eot?#iefix') format('embedded-opentype'),
 		 url('../css/fonts/RINGM/RINGM__.woff') format('woff'),
 		 url('../css/fonts/RINGM/RINGM__.ttf') format('truetype'),
 		 url('../css/fonts/RINGM/RINGM__.svg') format('svg');
 	font-style: normal;
 	font-weight: normal;
}

body{
	margin: 0px auto;
	font-family:'FjordOne-Regular';
}
.wrapper{
	width: 100%;
	height: 810px;
	margin: 0 auto;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}
.wrapper1{
	width: 100%;
	height: 810px;
	margin: 0 auto;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}

a{
	text-decoration: none;
	color: #d29900;
	cursor: pointer;
}
.user-logs{
	padding-top: 20px;
}
.btn{
	background-image: linear-gradient(to bottom, #60681C 0%, #3B3E17 100%);
    color: #d29900;
    font-family: FjordOne-Regular;
    font-size: 18px;
    height: 30px;
    text-align: center;
    box-shadow: 0 -1px 0 0 #A3B130;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 4px;
    border: none;
}
.join{
	display: inline-block;
    height: 24px;
    margin-left: 560px;
    padding-top: 6px;
    vertical-align: middle;
    width: 130px;
}
.user-input{
	display: inline-block;
}
.click{
	text-decoration: none;
	color: #d29900;
}
.signin{
	width: 94px;
	overflow: hidden;
}
.log-in{
	width: 540px;
	height: 70px;
	background-color: #2e301d;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	border-radius: 4px;
}
.login{
	padding-top: 18px;
}
input{
	width: 190px;
	height: 30px;
	border: none;
	color: #d29900;
	font-family:'FjordOne-Regular';
	font-size: 14px;
	margin-right: 10px;
	border-radius: 4px;
	vertical-align: top;
}
input[placeholder] {
   padding-left: 30px;
}
.usrname{
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: 5px center;
	margin-left: 10px;
}
.password{
	background-image: url('../img/password.png');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: 5px center;
}
.login-sub{
	height: 15px;
	font-size: 14px;
	margin-top: -px;
}
.remember{
	height: 13px;
    margin-left: 86px;
    width: 13px;
    display: inline;
    margin-top: 3px;
    vertical-align: middle;
}
.me{
	color: #d29900;
	margin: 0px;
	display: inline;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}
.forgot{
	color: #d29900;
	margin: 0 0 0 75px;
	display: inline;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}
.popups{
	margin-top: 160px;
	color: #d29900;
	overflow: hidden;
	display: none;
}


.back-color{
	/*background-color: #2a2c1b;
	opacity: .7;*/
	background-image: url('../img/popupbg.png');
}
.forgot-pass{
	width: 650px;
	height: 310px;
	border: 1px solid transporent;
	margin: 0 auto;
	
}
.fp-inner{
	width: 510px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
}
.fp1{
	font-size: 30px;
	margin: 0px;
}
.fp2{
	margin: 15px 0px 0px 0px;
}
.fp3{
	margin-top: 35px;
	margin-bottom: 0px;
}
.fp-input{
	width: 400px;
	height: 45px;
	background-color: #111111;
	box-shadow: inset 0px -1px 0px 0px #d8d8d8;
	margin-left: 10px;
}
.fp-cancel{
	font-size: 24px;
	margin-top: 40px;
	margin-left: 170px;
	width: 150px;
	height: 40px;
}
.fp-submit{
	font-size: 24px;
	margin-left: 20px;
	width: 150px;
	height: 40px;
}
.signup{
	width: 750px;
	height: 545px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 244px;
    overflow: hidden;
}
form{
	color: #d29900;
	font-size: 18px;
	margin: 10px;
}
.create{
	font-size: 24px;
	margin-top: 50px;
}
.field{
	margin-left: 100px;
	width: 400px;
	overflow: hidden;
}
.ca{
	float: right;
	width: 290px;
	height: 40px;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 0px;
	font-size: 18px;
	color: #d29900;
	background-color: #111111;
	opacity: 1 !important;
	border: none;
	color: white;
	padding-top: 7px;
}
.create1{
	font-size: 24px;
	margin-top: 20px;
}
option{
	color: white;
}
.new-create{
	width: 305px;
	height: 40px;
	font-size: 24px;
	margin-left: 185px;
}
.cancel{
	font-size: 24px;
	margin-left: 10px;
	width: 150px;
	height: 40px;
}
.btn-group{
	margin-top: 30px;
}
.success{
	display: none;
    height: 210px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 650px;
}
.success-msg{
	font-size: 30px;
	color: #d29900;
	margin-top: 25px;
	margin-left: 80px;
}
.msg{
	font-size: 24px;
	color: #d29900;
	margin-left: 80px;
}
.ok{
	font-size: 24px;
	width: 150px;
	height: 40px;
	margin-left: 265px;
}
/*.menu{
	overflow: hidden;
}
.nav{
	float: right;
	margin-right: 130px;
	overflow: hidden;
}
.nav-elements{
	float: left;
	width: 185px;
	height: 50px;
	list-style-type: none;
}


.error{
	display: none;
	height: 210px;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 650px;
}
.error-content{
    height: 144px;
    margin: 0 auto;
    text-align: center;
    width: 476px;
    padding-top: 10px;
}
*/
.menu{
	overflow: hidden;
}
.nav{
	float: right;
	margin-right: 130px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-elements{
	float: left;
	width: 185px;
	height: 50px;
	list-style-type: none;
	border-right: 1px solid grey;
	-webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);
	border-top: 0px;
	border-bottom: 0px;
	text-align: center;
}
.nav-elements:last-child{
	border-right: 0px;
}
.ne-inner{
	-webkit-transform: skew(-20deg) !important;
  -moz-transform: skew(-20deg) !important;
  -ms-transform: skew(-20deg) !important;
  -o-transform: skew(-20deg) !important;
  transform: skew(-20deg) !important; 
  display:block;
  text-decoration:none;
  padding:10px 10px;
  font-size:24px;
}
.ne-inner1{
	/*padding-top: 5px;*/
}
/*sup{
	background-color: #d29900;
	border-radius: 10px;
	color: white;
}*/
.error{
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	position: absolute;
	color: #d29900;
	display: none;
	font-size: 24px;
}
.error-content{
	height: 144px;
    margin: 0 auto;
    text-align: center;
    width: 476px;
    padding-top: 10px;
}
.pd{
	padding: 0px;
	display: none;
	position: absolute;
	margin-top: 50px;
}
.pd-inner{
	 border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    clear: both;
    height: 30px;
    list-style-type: none;
    margin-left: 380px;
    padding-top: 10px;
    width: 185px;
}
.pd-inner a{
	font-size: 20px;
    padding-left: 25px;
}
li:hover{
	opacity: .8;
}
.update{
	width: 750px;
	height: 465px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.update-inner{
	color: #D29900;
    font-size: 18px;
    margin: 10px;
}
.new-update{
	width: 290px;
	height: 40px;
	font-size: 24px;
	margin-left: 210px;
}
.pl{
	width: 645px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.pl-heading{
	height: 65px;
	width: 100%;
	border-bottom: 2px solid ;

}
.pl-inner{
	color: #D29900;
    font-size: 18px;
    width: 100%;
    height: 100%;
    overflow-y:auto; 
}
.pl-text{
	margin: 0px 10px auto;
	font-size: 30px;
	padding-left: 10px;
    padding-top: 10px;
    color: #D29900;
}
table{
	color: #D29900;
	overflow: scroll;
}
th{
	font-size: 24px;
	text-align: left;
	padding-left: 20px;
}
td{
	font-size: 20px;
	width: 243px;
	padding-left: 20px;
	padding-right: 0px;
}
.td-width{
	width: 203px;
}
.accept-width{
	width: 283px;
}
tr{
	height: 45px;
}
tr:nth-child(even) {
    background-color: #2a2b1a;
}
.ch{
	width: 750px;
	height: 500px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    overflow: hidden;
}
.list{
	margin: 0px;
}

.ac{
	padding: 5px 5px 0;
}
.dt{
	text-align: center;
}
.play-heading{
	width: 460px;
	margin:25px auto;
}
.chess-board{
	margin-left: 125px;
	width: 625px;
	display: inline-block;
}
.players{
	width: 380px;
	display: inline-block;
	vertical-align: top;
	color: #D29900; 
	margin-left: 20px;
}
.players-title{
	font-size: 30px;
	margin-bottom:0px;
	margin-top: 0px;
}
.players-details{
	width: 310px;
	height: 50px;
	overflow: hidden;
	margin-left: 45px;
}
.player-name{
	width: 150px;
	display: inline-block;
	vertical-align: top;
}
.name{
	font-size: 24px;
	margin: 0px;
}
.player-coin{
	width: 40px;
	display: inline-block;
	vertical-align: top;
}
.player-coin img{
	width: 30px;
}
.turn-details{
	width: 370px;
	height: 390px;
}
.turn-header{
	height: 50px;
	border-bottom: 2px solid black;
}
.heading{
	font-size: 30px;
	margin-top: 0px;
}
.turns{
	height: 100%;
	overflow-y:auto;

}
.whose-turn p{
	font-size: 26px;
    margin: 8px auto 0px;
}
.whose-turn{
	text-align: center;
}

.kineticjs-content{
	top: -616px;
	left: 138px;

}